extends layout

mixin scopeTable(scope)
    if scope.scenarios.length
        tbody(style='cursor:pointer' data-toggle='collapse' data-target='#collapsable-' + scope.filter.id)
            tr(style='background-color:#d9edf7')
                th(colspan='3')
                    h4
                        small
                            span.glyphicon.glyphicon-collapse-down
                        span &nbsp;#{scope.filter.displayName} - #{scope.scenarios.length} scenarios
                    span(style='padding-left:8px;color:gray;font-style:italic;font-weight:lighter')= scope.filter.description
        tbody.collapseWithGlyphicon.collapse.in(id='collapsable-' + scope.filter.id)
            each sc, index in scope.scenarios
                tr
                    td.col-md-1= index + 1
                    td
                        b #{sc.featureName}:&nbsp;
                        span #{sc.scenarioName} (:#{sc.scenarioLine})
                    td(style='text-align:right;')
                        if sc.executions
                            each exec in sc.executions
                                if exec.result == 'passed'
                                    span(style='color: green;') &#x25cf;
                                else
                                    span(style='color: red;') &#x25cf;
    else
        tbody(style='margin-bottom:12px')
            tr(style='background-color:#d9edf7')
                th(colspan='3')
                    h4 No scenarios found by filter '#{scope.filter.displayName}'

block navigationbar
    - var active = 'projects'
block content
    div(style='padding-bottom:12px')
        span Switch to&nbsp;
        a(href='/projects/' + id + '') Old Details Page
    div
        h2 #{name}
        em= description
    table.table.table-striped.table-bordered
        each scope,index in scopes
            +scopeTable(scope)
    script.
        $('.collapseWithGlyphicon').on('shown.bs.collapse', function() {
            var collapsableId = this.id;
            $(this).parent().find('*[data-target=\"#' + collapsableId + '\"] .glyphicon').removeClass('glyphicon-expand').addClass('glyphicon-collapse-down');
        });
        $('.collapseWithGlyphicon').on('hidden.bs.collapse', function() {
            var collapsableId = this.id;
            $(this).parent().find('*[data-target=\"#' + collapsableId + '\"] .glyphicon').removeClass('glyphicon-collapse-down').addClass('glyphicon-expand');
        });