extends layout

block content
    table.table-striped
        th(colspan='2')
            h1 In Development (#{development.length})
        each dev in development
            tr
                td #{dev.scenarioName}
                td
                    table
                        each tag in dev.tags
                            tr
                                td #{tag.tag}
                                td
                                    each run in tag.executions
                                        if run == 'passed'
                                            span(style='color: green;') &#x25cf;
                                        else
                                            span(style='color: red;') &#x25cf;
        th(colspan='2')
            h1 Daily (#{daily.length})
        each day in daily
            tr
                td #{dev.scenarioName}
                td
                    table
                        each tag in day.tags
                            tr
                                td #{tag.tag}
                                td
                                    each run in tag.executions
                                        if run == 'passed'
                                            span(style='color: green;') &#x25cf;
                                        else
                                            span(style='color: red;') &#x25cf;
    th(colspan='2')
        h1 Muted (#{muted.length})
        each mute in muted
            tr
                td #{mute.scenarioName}
                td
                    table
                        each tag in mute.tags
                            tr
                                td #{tag.tag}
                                td
                                    each run in tag.executions
                                        if run == 'passed'
                                            span(style='color: green;') &#x25cf;
                                        else
                                            span(style='color: red;') &#x25cf;