extends layout

mixin scopeTable(scope,list)
    tr
        th(colspan='4')
            h2 #{scope} (#{list.length})
    each sc, index in list
        if (sc.scenarioName)
            tr
                td.col-md-1= index + 1
                td
                    b #{sc.featureName}:&nbsp;
                    span #{sc.scenarioName} (:#{sc.scenarioLine})
                td
                    each tag in sc.tags
                        span #{tag.tag}
                        br
                td
                    each tag in sc.tags
                        each run in tag.executions
                            if run == 'passed'
                                span(style='color: green;') &#x25cf;
                            else
                                span(style='color: red;') &#x25cf;
                        br

block navigationbar
    - var active = 'scopes'
block content
    table.table.table-striped.table-bordered
        +scopeTable('In Development', development)
        +scopeTable('Daily', daily)
        +scopeTable('Muted', muted)
