extends layout

block content
    table.table.table-striped.table-bordered
        th(colspan='3')
            h2 In Development (#{development.length})
        each dev in development
            if (dev.scenarioName)
                tr
                    td #{dev.scenarioName}
                    td
                        each tag in dev.tags
                            span #{tag.tag}
                            br
                    td
                        each tag in dev.tags
                            each run in tag.executions
                                if run == 'passed'
                                    span(style='color: green;') &#x25cf;
                                else
                                    span(style='color: red;') &#x25cf;
                            br
        th(colspan='3')
            h2 Daily (#{daily.length})
        each day in daily
            if (day.scenarioName)
                tr
                    td #{day.scenarioName}
                    td
                        each tag in day.tags
                            span #{tag.tag}
                            br
                    td
                        each tag in day.tags
                            each run in tag.executions
                                if run == 'passed'
                                    span(style='color: green;') &#x25cf;
                                else
                                    span(style='color: red;') &#x25cf;
                            br
        th(colspan='3')
            h2 Muted (#{muted.length})
        each mute in muted
            if (mute.scenarioName)
                tr
                    td #{mute.scenarioName}
                    td
                        each tag in mute.tags
                            span #{tag.tag}
                            br
                    td
                        each tag in mute.tags
                            each run in tag.executions
                                if run == 'passed'
                                    span(style='color: green;') &#x25cf;
                                else
                                    span(style='color: red;') &#x25cf;
                            br
