extends layout
block navigationbar
    - var active = 'sessions'
block content
    if error.state === 'sessionlost'
        div.alert.alert-danger <b>Error:</b> session with id <b>#{error.info}</b> were finished or does not exist
    if Object.keys(sessions).length
        table.table.table-striped.table-bordered
            tr
                th Session ID
                th Start Date
                th Project
                th In Queue
                th In Progress
                th Done
                th &nbsp;
            each session in sessions
                tr
                    td
                        a(href='/sessions/' + session.sessionId + '/info') #{session.sessionId}
                    td= session.startDate
                    td= session.project
                    td
                        a(href='/sessions/' + session.sessionId + '/info#queue')= session.getScenariosCount('in queue')
                    td
                        a(href='/sessions/' + session.sessionId + '/info#progress')= session.getScenariosCount('in progress')
                    td
                        a(href='/sessions/' + session.sessionId + '/info#done')= session.getScenariosCount('done')
                    td
                        button.btn.btn-danger(type=submit onclick='window.location.href="/sessions/' +
                        session.sessionId + '/remove"') Remove
    else
        div.alert.alert-info No running sessions