extends layout

block content
    h2 In Development (#{development.length})
    div.container-fluid
        each dev in development
            div.row
                div.col-md-2 #{dev.tag}
                div.col-md-1
                    each run in dev.executions
                        if run == 'passed'
                            span(style='color: green;') &#x25cf;
                        else
                            span(style='color: red;') &#x25cf;
    h2 Daily (#{daily.length})
    div.container-fluid
        each day in daily
            div.row
                div.col-md-2 #{day.tag}
                div.col-md-1
                    each run in day.executions
                        if run == 'passed'
                            span(style='color: green;') &#x25cf;
                        else
                            span(style='color: red;') &#x25cf;
    h2 Muted (#{muted.length})
    div.container-fluid
        each mute in muted
            div.row
                div.col-md-2 #{mute.tag}
                div.col-md-1
                    each run in mute.executions
                        if run == 'passed'
                            span(style='color: green;') &#x25cf;
                        else
                            span(style='color: red;') &#x25cf;
